__pycache__/
Tests/example1/logs/
Tests/example2/logs/
Tests/example3/logs/
Tests/example4/logs/
Tests/example5/logs/
Tests/example6/logs/
Simulations/LeaderElections/logs/
Simulations/LeaderElections/logs/
Nodes/__pycache__/
Nodes/Protocols/__pycache__/